# Core dependencies
typing_extensions>=4.12.2
setuptools>=75.7.0

# GUI dependencies
PyQt6>=6.8.0
PyQt6-sip>=13.9.1

# File handling
libarchive-c>=5.1
pycurl>=7.45.4

# Development
pyinstaller>=6.11.1
pyinstaller-hooks-contrib>=2024.11
