# Core dependencies
typing_extensions>=4.12.2
setuptools>=75.7.0
PyQt6>=6.8.0
PyQt6-sip>=13.9.1

# Archive handling
libarchive-c>=5.1

# Network and URL handling
pycurl>=7.45.4;

# Optional development dependencies
pyinstaller>=6.11.1
pyinstaller-hooks-contrib>=2024.11
